@model IEnumerable<ShopOnlineConnection.LoaiSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    td {
        padding-left: 40px !important;
    }
</style>
<div class="table-1" style="margin: 40px 80px 0 80px">
    <h3 style="max-width:90%;margin-bottom: 20px;text-align:center; color:lightseagreen"> Trang quản lý Loại Sản Phẩm</h3>
    <table class="table" style="border: solid #808080 1px ; border-radius: 2px; max-width:90%">
        <thead class="thead-dark" style="background-color: #20edda">
            <tr>
                <th scope="col">Mã Loại Sản Phẫm</th>
                <th scope="col">Tên Loại Sản Phẫm</th>
                <th scope="col">Tình Trạng</th>
                <th colspan="3" style="text-align: center">
                    Action
                    <a href="@Url.Action("Create","ProductType")">
                        <i style="margin-left:40px" class="fas fa-plus-circle"></i>
                    </a>
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaLoaiSanPham</td>
                    <td>@item.TenLoaiSanPham</td>
                    <td>@item.TinhTrang</td>
                    <td>
                        <a href="@Url.Action("Edit","ProductType", new { id = item.MaLoaiSanPham})">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Lock","ProductType", new { id = item.MaLoaiSanPham})">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


