@model IEnumerable<ShopOnlineConnection.GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!--//////////////////////////////////////////////////-->
<!--///////////////////Cart Page//////////////////////-->
<!--//////////////////////////////////////////////////-->
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="cart.html">Cart</a></li>
                </ul>
            </div>
        </div>

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="product well">
                    <div class="col-md-3">
                        <div class="image">
                            <img src="images/galaxy-note.jpg" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="caption">
                            @using (Html.BeginForm("CapNhat", "GioHang", FormMethod.Post))
                            {
                                <div class="name"><h3><a href="product.html">@item.TenSanPham</a></h3></div>
                                <div class="info">
                                    <ul>
                                        <li><input name="masanpham" type="hidden" value="@item.MaSanPham" /></li>
                                        <li><input type="hidden" value="@item.Gia" /></li>
                                    </ul>
                                </div>
                                <label>Số lượng : </label> <input class="form-inline quantity" min="1" max="1000" type="number" value="@item.SoLuong" name="soluong"><input type="submit" class="btn btn-2 " value="Update" /> <br />
                                <div class="price">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", item.Gia)</div>
                                <hr>
                                }
                        <a href="@Url.Action("Xoa","GioHang",new { masanpham= item.MaSanPham})" class="btn btn-default pull-right">REMOVE</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>
</div>
